@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to comments to add a comment and try to hack it with a Cross Site-script  </p>
    <p>Go to files and try to mess it up while you upload a file.</p>
</div>
